* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightskyblue;
  font-family: sans-serif;
  text-align: center;
}

#main {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

h2 {
  margin-top: 15px;
  font-size: 1.5rem;
  background-color: limegreen;
  height: 2rem;
  border: 2px solid green;
  font-weight: 900;
}
#btn {
  margin-top: 5px;
  font-size: 3.5rem;
  width: 20rem;
  height: 8rem;
  border: 15px solid brown;
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 5px;
  background-color: cadetblue;
  font-weight: 600;
}

table {
  margin-top: 15px;
  width: 25rem;
  color: black;
  font-weight: 600;
  font-size: 1.1em;
  border: 7px solid;
}
#main_table {
  width: 50rem;
}
